
<body >
  <nav class="nav">
    <div class="nav_container">
        <a href="/"><h1 class="nav_logo">Yendo</h1></a>


    

            
            <label for="menu" class="nav_label"> 
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAExJREFUSEtjZKAxYKSx+QyjFhAM4QEJov8EnYVfAYqjsfmA5hZQ6AFU7QMSBzT3Ac3jgOYW0DyIhr4FNI8Dmlsw9ONg1AcoIUDz0hQAbegGGXzv/l0AAAAASUVORK5CYII="/>
            </label>
        <input type="checkbox"  id="menu" class="nav_input">

        <div class="nav_menu">
          <a href="/" class="nav_item">Inicio</a>
            <a href="playas" class="nav_item">Playas</a>
            <a href="alquileres" class="nav_item">Alquileres</a>
            <a href="camping" class="nav_item">Campings</a>
            <a href="afters" class="nav_item">Fiestas</a>
            
            <a href="spots" class="nav_item">Spots</a>
        </div>
    </div>
</nav>

   
</body>
