<%- include ("partials/head") %>

<body>
    <%- include ("partials/header") %>

    

    <blockquote class="animation">
      <figure>
        <span>Disfruta</span>
        <span>Bariloche</span>
        
        <span>como</span>
        <span>todo</span>
        <span>un</span>
        <span>residente</span>
        
        <figcaption>YENDO</figcaption>
      </figure>
    </blockquote>
    
    <br>

    <article class="card-afters-lateral">
      <div class="card-lateral"> </div>
      <article class="card-content-lateral">
        <header>
          <hgroup>
            <h1 class="card-lateral-h1">Bresh</h1>
            <h2 class="card-lateral-h2">17/01/2023</h2>
          </hgroup>
        </header>
        <p class="text-card-lateral">Cliquea la tarjeta para ver más sobre el evento</p>
      </article>
    </article>

    <br>
    
    <article class="card-afters-lateral">
      <div class="card-lateral"> </div>
      <article class="card-content-lateral">
        <header>
          <hgroup>
            <h1 class="card-lateral-h1">Bariloche Baila</h1>
            <h2 class="card-lateral-h2">22/01/2023</h2>
          </hgroup>
        </header>
        <p class="text-card-lateral">Cliquea la tarjeta para ver más sobre el evento</p>
      </article>
    </article>

    <br>
    
    <article class="card-afters-lateral">
      <div class="card-lateral"> </div>
      <article class="card-content-lateral">
        <header>
          <hgroup>
            <h1 class="card-lateral-h1">Bellsud After</h1>
            <h2 class="card-lateral-h2">06/02/2023 </h2>
          </hgroup>
        </header>
        <p class="text-card-lateral">Cliquea la tarjeta para ver más sobre el evento</p>
      </article>
    </article>

    <br>
    
    <article class="card-afters-lateral-2">
      <div class="card-lateral"> </div>
      <article class="card-content-lateral">
        <header>
          <hgroup>
            <h1 class="card-lateral-h1">Kolombo</h1>
            <h2 class="card-lateral-h2">08/02/2023</h2>
          </hgroup>
        </header>
        <p class="text-card-lateral">Cliquea la tarjeta para ver más sobre el evento</p>
      </article>
    </article>

    <br>
    
    <article class="card-afters-lateral-3">
      <div class="card-lateral"> </div>
      <article class="card-content-lateral">
        <header>
          <hgroup>
            <h1 class="card-lateral-h1">Patagonia After</h1>
            <h2 class="card-lateral-h2">12/02/2023</h2>
          </hgroup>
        </header>
        <p class="text-card-lateral">Cliquea la tarjeta para ver más sobre el evento</p>
      </article>
    </article>

    <br>
    
    <article class="card-afters-lateral-4">
      <div class="card-lateral"> </div>
      <article class="card-content-lateral">
        <header>
          <hgroup>
            <h1 class="card-lateral-h1">Bresh</h1>
            <h2 class="card-lateral-h2">19/02/2023</h2>
          </hgroup>
        </header>
        <p class="text-card-lateral">Cliquea la tarjeta para ver más sobre el evento</p>
      </article>
    </article>


    <%- include ("partials/footer") %>
    
</body>