<%- include ("partials/head") %>

<body style="background-color: #ebebeb;">
    <%- include ("partials/header") %>

   
	
	
	<div class="container">				
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">				
				<div class="section-status card">
					<div class="img-container">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Android_O_Preview_Logo.png/768px-Android_O_Preview_Logo.png" alt="">
					</div>
					<div class="text">
						<p class="title">
							El Cirse
						</p>
						<small class="sub-title mey-text-color-gray">
							Camping ubicado en el Nahuel Huapi
						</small>
					</div>
					<div class="footer">
						<a href="#" class="btn btn-primary mey-btn mey-btn-md">
							Ver más
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">				
				<div class="section-status card">
					<div class="img-container">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Android_O_Preview_Logo.png/768px-Android_O_Preview_Logo.png" alt="">
					</div>
					<div class="text">
						<p class="title">
							Los Baqueanos
						</p>
						<small class="sub-title mey-text-color-gray">
							Camping ubicado en el Lago Gutierrez
						</small>
					</div>
					<div class="footer">
						<a href="#" class="btn btn-primary mey-btn mey-btn-md">
							Ver más
						</a>
					</div>
				</div>				
			</div>	
			<div class="col-xs-12 col-sm-6 col-md-4">				
				<div class="section-status card">
					<div class="img-container">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Android_O_Preview_Logo.png/768px-Android_O_Preview_Logo.png" alt="">
					</div>
					<div class="text">
						<p class="title">
							Los Cohiues
						</p>
						<small class="sub-title mey-text-color-gray">
							Camping ubicado en el Lago Gutierrez
						</small>
					</div>
					<div class="footer">
						<a href="#" class="btn btn-primary mey-btn mey-btn-md">
							Ver más
						</a>
					</div>
				</div>				
			</div>	
            <div class="col-xs-12 col-sm-6 col-md-4">				
				<div class="section-status card">
					<div class="img-container">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Android_O_Preview_Logo.png/768px-Android_O_Preview_Logo.png" alt="">
					</div>
					<div class="text">
						<p class="title">
							La Querencia
						</p>
						<small class="sub-title mey-text-color-gray">
							Camping ubicado en el Lago Mascardi
						</small>
					</div>
					<div class="footer">
						<a href="#" class="btn btn-primary mey-btn mey-btn-md">
							Ver más
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">				
				<div class="section-status card">
					<div class="img-container">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Android_O_Preview_Logo.png/768px-Android_O_Preview_Logo.png" alt="">
					</div>
					<div class="text">
						<p class="title">
							Don Oracio
						</p>
						<small class="sub-title mey-text-color-gray">
							Camping ubicado en el Nahuel Huapi 
						</small>
					</div>
					<div class="footer">
						<a href="#" class="btn btn-primary mey-btn mey-btn-md">
							Ver más
						</a>
					</div>
				</div>				
			</div>	
			<div class="col-xs-12 col-sm-6 col-md-4">				
				<div class="section-status card">
					<div class="img-container">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Android_O_Preview_Logo.png/768px-Android_O_Preview_Logo.png" alt="">
					</div>
					<div class="text">
						<p class="title">
							Colonia Suiza
						</p>
						<small class="sub-title mey-text-color-gray">
							Camping ubicado en el Lago Moreno
						</small>
					</div>
					<div class="footer">
						<a href="#" class="btn btn-primary mey-btn mey-btn-md">
							Ver más
						</a>
					</div>
				</div>				
			</div>		
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>	
	


    <%- include ("partials/footer") %>
</body>