<%- include ("partials/head") %>

<body>
    <%- include ("partials/header") %>

        <h2 class="h2-campings">Nuestros campings</h2>


        <img class="img-cohiues" src="" alt="foto">
        <h4 class="titulo-camping">Los coihues</h4>
        <p class="p-campings">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repellendus labore, fuga nobis voluptatem ratione itaque ipsum minus iusto placeat quis ad commodi, unde reprehenderit et repudiandae, laborum vitae. Ducimus voluptatum excepturi saepe et voluptas iure tempora vero praesentium quas. Distinctio provident quibusdam obcaecati dolore illo nam, aut debitis suscipit qui itaque maxime quidem nemo fugit reprehenderit commodi veniam? Perspiciatis, tempore? Animi optio obcaecati laboriosam dolor fuga ex vero ad quis totam perferendis ea minus qui commodi earum, quo, error at. Velit, commodi, eos rerum alias ullam fuga voluptatum dolorum officia consequuntur quis ducimus voluptas explicabo quos magni iure harum!</p>
        <hr style="width: 50vw; margin-left:25vw;margin-top:4vh; ">

        <img class="img-cohiues" src="" alt="foto">
        <h4 class="titulo-camping">Colonia Suiza</h4>
        <p class="p-campings">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repellendus labore, fuga nobis voluptatem ratione itaque ipsum minus iusto placeat quis ad commodi, unde reprehenderit et repudiandae, laborum vitae. Ducimus voluptatum excepturi saepe et voluptas iure tempora vero praesentium quas. Distinctio provident quibusdam obcaecati dolore illo nam, aut debitis suscipit qui itaque maxime quidem nemo fugit reprehenderit commodi veniam? Perspiciatis, tempore? Animi optio obcaecati laboriosam dolor fuga ex vero ad quis totam perferendis ea minus qui commodi earum, quo, error at. Velit, commodi, eos rerum alias ullam fuga voluptatum dolorum officia consequuntur quis ducimus voluptas explicabo quos magni iure harum!</p>
        <hr style="width: 50vw; margin-left:25vw;margin-top:4vh;">

        <img class="img-cohiues" src="" alt="foto">
        <h4 class="titulo-camping">El Cirse</h4>
        <p class="p-campings">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repellendus labore, fuga nobis voluptatem ratione itaque ipsum minus iusto placeat quis ad commodi, unde reprehenderit et repudiandae, laborum vitae. Ducimus voluptatum excepturi saepe et voluptas iure tempora vero praesentium quas. Distinctio provident quibusdam obcaecati dolore illo nam, aut debitis suscipit qui itaque maxime quidem nemo fugit reprehenderit commodi veniam? Perspiciatis, tempore? Animi optio obcaecati laboriosam dolor fuga ex vero ad quis totam perferendis ea minus qui commodi earum, quo, error at. Velit, commodi, eos rerum alias ullam fuga voluptatum dolorum officia consequuntur quis ducimus voluptas explicabo quos magni iure harum!</p>
        <hr style="width: 50vw; margin-left:25vw;margin-top:4vh;">

        <img class="img-cohiues" src="" alt="foto">
        <h4 class="titulo-camping">Baqueanos</h4>
        <p class="p-campings">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repellendus labore, fuga nobis voluptatem ratione itaque ipsum minus iusto placeat quis ad commodi, unde reprehenderit et repudiandae, laborum vitae. Ducimus voluptatum excepturi saepe et voluptas iure tempora vero praesentium quas. Distinctio provident quibusdam obcaecati dolore illo nam, aut debitis suscipit qui itaque maxime quidem nemo fugit reprehenderit commodi veniam? Perspiciatis, tempore? Animi optio obcaecati laboriosam dolor fuga ex vero ad quis totam perferendis ea minus qui commodi earum, quo, error at. Velit, commodi, eos rerum alias ullam fuga voluptatum dolorum officia consequuntur quis ducimus voluptas explicabo quos magni iure harum!</p>
        <hr style="width: 50vw; margin-left:25vw;margin-top:4vh;">

        <img class="img-cohiues" src="" alt="foto">
        <h4 class="titulo-camping">La Querencia</h4>
        <p class="p-campings">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repellendus labore, fuga nobis voluptatem ratione itaque ipsum minus iusto placeat quis ad commodi, unde reprehenderit et repudiandae, laborum vitae. Ducimus voluptatum excepturi saepe et voluptas iure tempora vero praesentium quas. Distinctio provident quibusdam obcaecati dolore illo nam, aut debitis suscipit qui itaque maxime quidem nemo fugit reprehenderit commodi veniam? Perspiciatis, tempore? Animi optio obcaecati laboriosam dolor fuga ex vero ad quis totam perferendis ea minus qui commodi earum, quo, error at. Velit, commodi, eos rerum alias ullam fuga voluptatum dolorum officia consequuntur quis ducimus voluptas explicabo quos magni iure harum!</p>
        <hr style="width: 50vw; margin-left:25vw;margin-top:4vh;">

        
    <%- include ("partials/footer") %>
</body>